body {
    margin: 0%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
}

.conteudo-tab {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.tab {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(240, 83, 109);
    border-radius: 5px;
    border-bottom: none;
    padding: 10px;
    width: 100px;
}